[submodule "gr-resq-webapp-backend"]
	path = gr-resq-webapp-backend
	url = https://github.com/nanoMFG/gr-resq-webapp-backend.git
[submodule "GSA-Database"]
	path = GSA-Database
	url = https://github.com/nanoMFG/GSA-Database.git
	branch = flaskapi
